@tailwind base;
@tailwind components;
@tailwind utilities;

.soft-gradient {
  background: radial-gradient(circle at top right, rgba(19, 127, 236, 0.08), transparent),
    radial-gradient(circle at bottom left, rgba(19, 127, 236, 0.05), transparent);
}

html {
  scroll-behavior: smooth;
}
